/* Template */

:root {
    --color-hint: #404040;
}

.d-Container {
    font-family: monospace;
    padding: 5vh 5vw 5vh 5vw;

    display: grid;

    grid-template-columns: 1fr minmax(0, 10fr);
    grid-template-rows: 1fr minmax(0, 13fr) 1fr;
    grid-template-areas:
        "header header"
        "menu content"
        "footer footer";

    height: 90vh;
}

.d-Header {
    grid-area: header;
}

.d-Content {
    grid-area: content;
    place-self: center;
    font-size: 2em;
    width: 90%;
    height: 90%;
    overflow: auto;
    margin: 10px;
}

.d-Footer {
    grid-area: footer;
    text-align: right;
    margin: 20px;
}

.d-Footer__Link:not(:last-child) {
    margin-right: 1rem;
}

/* Menu */

.d-Menu {
    grid-area: menu;

    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    align-items: center;
    justify-items: stretch;
    grid-row-gap: 20px;
}

.d-Menu__Item {
    display: block;
    margin: 10px;
}

.d-Menu__ItemIcon {
    width: 100%;
}

.d-Menu__ItemIcon:hover {
    filter: invert(70%);
}

.d-Menu__Item--Active .d-Menu__ItemIcon {
    filter: invert(70%) sepia(70%) saturate(100%);
}

/* Info */

.d-Info__RemoteManagementForm {
    display: inline;
}

.d-Info__RemoteManagementAddress {
    margin-right: 1rem;
}

/* Network list */

.d-NetworkList__Network {
  text-decoration: none;
  color: black;
  line-height: 1;
  display: grid;
  grid-template-columns: 10fr auto auto auto;
  grid-gap: 1rem;
  align-items: center;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid var(--form-border-color);
}

.d-NetworkList__Network:hover {
    background: #E0CB52;
}

.d-NetworkList__Address {
  color: var(--color-hint);
  font-size: small;
}

.d-NetworkList__Chevron {
  color: #606060;
  text-align: right;
  font-size: 1rem;
}

.d-NetworkList__SignalStrength {
    width: 2rem;
    height: 2rem;
}

/* Network */

.d-Network__Refresh {
    margin-bottom: 2rem;
}

.d-Network__InternetConnected {
    color: green;
}

.d-Network__InternetNotConnected {
    color: red;
}

.d-Network__Title {
    display: flex;
    line-height: 1;
}

.d-Network__SignalStrength {
    height: 3rem;
    width: 3rem;
    margin-left: 3rem;
}

.d-Network__Properties {
    margin-bottom: 2rem;
}

.d-Network__Form {
    margin: 1rem 0;
}

.d-Network__Label {
    padding-bottom: 0.5rem;
}

.d-Network__ProxyForm {
    display: flex;
}

.d-Network__ProxyUpdate {
    display: flex;
    margin-right: 1rem;
}

.d-Network__Input {
    width: 400px;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.d-Network__AdvancedSettingsTitle {
    margin-top: 1rem;
}

.d-Network__Note {
    font-size: 80%;
    color: var(--color-hint);
    margin-bottom: 1rem;
}


/* Switch */

.d-Switch--On {
    color: green;
}

.d-Switch--Off {
    color: red;
}

/* Wifi signal */

.d-WifiSignal {
    width: 100%;
    height: 100%;
}

/* Medium signal */
.d-WifiSignal--Medium .d-WifiSignal__Wave--Outer {
    opacity:.3;
    stroke-width:.5;
}

/* Weak signal */
.d-WifiSignal--Weak .d-WifiSignal__Wave--Outer,
.d-WifiSignal--Weak .d-WifiSignal__Wave--Middle {
    opacity:.3;
    stroke-width:.5;
}

/* No signal */
.d-WifiSignal--None .d-WifiSignal__Base {
    fill:#848484;
}

.d-WifiSignal--None *:not(.d-WifiSignal__Base) {
    stroke:#848484;
    opacity:.3;
    stroke-width:.5;
}

/* Localization */

.d-Localization__Form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.d-Localization__Legend {
    width: 100%;
    margin-bottom: 0.5rem;
}

.d-Localization__Select {
    margin-right: 1rem;
    width: 28rem;
}

.d-Localization__Note {
    font-style: italic;
    font-size: 80%;
    margin-top: 2rem;
}

/* Form */

:root {
    --form-component-height: 2.5rem;
    --form-component-font-size: 70%;
    --form-border-color: #DDDDDD;
    --form-border-color-hover: #888888;
    --form-input-border: 0.15rem solid var(--form-border-color);
}

.d-Input {
    font-size: var(--form-component-font-size);
    height: var(--form-component-height);
    padding: 0 0.5rem;
    border: var(--form-input-border);
}

.d-Input:hover {
    border-color: var(--form-border-color-hover);
}

.d-Button {
    display: inline-flex;
    align-items: center;
    height: var(--form-component-height);
    font-size: var(--form-component-font-size);
    text-decoration: none;
    padding: 0 0.8rem;
    color: black;
    background-color: var(--form-border-color);
    border: var(--form-input-border);
    cursor: pointer;
}

.d-Button:hover {
    border-color: var(--form-border-color-hover);
}

.d-Select {
    font-size: var(--form-component-font-size);
    height: var(--form-component-height);
    padding: 0 0.5rem;
    background-color: white;
    border: var(--form-input-border);
    cursor: pointer;
}

.d-Select:hover {
    border-color: var(--form-border-color-hover);
}

/* Definitions */

.d-Definitions__Term {
    font-weight: bold;
}

.d-Definitions__Description {
    margin-bottom: 1rem;
}

/* Markdown */

.d-Markdown {
    font-size: 90%;
}

.d-Markdown h1 {
    margin-bottom: 1rem;
}

.d-Markdown ul {
    list-style: square inside;
    padding-left: 0;
    font-weight: normal;
}

.d-Markdown code {
    background-color: gray;
    padding: .2rem .5rem;
    font-size: 90%;
    background: #f1f1f1;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

/* Other */

.d-Title {
    margin-bottom: 1rem;
}

.d-Subtitle {
    margin-bottom: 1rem;
}

.d-Preformatted {
    font-size: 80%;
    border-left: 0.5rem solid #E0CB52;
    padding: 0.5rem 1rem;
    background-color: #FCFAEE;
    overflow: auto;
}

.d-HiddenLink {
    text-decoration: none;
    cursor: text;
    color: black;
}

.d-Code {
    font-style: normal;
    background-color: #F1F1F1;
    color: #606060;
    border: 0.1rem solid #E1E1E1;
    border-radius: 0.4rem;
    padding: 0.2rem 0.5rem;
}

.d-BackLink {
    color: blue;
    font-size: 1rem;
    text-decoration: none;
}

.d-BackLink:hover {
    text-decoration: underline;
}

.d-BackLink:before {
    content: "❮ ";
}

.d-Details {
    margin-bottom: 1rem;
}
