<h1 class="d-Title">
    ERROR
</h1>

<pre class="d-Preformatted">
    {{exn}}
</pre>

<details>
    <summary>Request</summary>
    <pre class="d-Preformatted">
        {{request}}
    </pre>
</details>
