<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PlayOS Controller</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/client.js"></script>
  </head>
  <body>
      <div id="container">

          <div id="header">
          </div>

          <div id="menu">

              <div class="menu-item">
                  <a href="/gui/info">
                    <img class="menu-item-icon" src="/static/info.svg">
                  </a>
              </div>

              <div class="menu-item">
                  <a href="/gui/network">
                      <img class="menu-item-icon" src="/static/wifi.svg">
                  </a>
              </div>

              <div class="menu-item">
                  <a href="/gui/status">
                      <img class="menu-item-icon" src="/static/cpu.svg">
                  </a>
              </div>

              <div class="menu-item">
                  <a href="/shutdown">
                    <img class="menu-item-icon" src="/static/power.svg">
                  </a>
              </div>

          </div>

          <div id="content">
              {{{content}}}
          </div>

          <div id="footer">
          </div>

      </div>
  </body>
</html>
