<h1>Information</h1>
<dl class="d-Definitions">
    <dt class="d-Definitions__Term">Version</dt>
    <dd>{{server_info.version}}</dd>

    <dt class="d-Definitions__Term">Update URL</dt>
    <dd>{{server_info.update_url}}</dd>

    <dt class="d-Definitions__Term">Kiosk URL</dt>
    <dd>{{server_info.kiosk_url}}</dd>

    <dt class="d-Definitions__Term">Machine ID</dt>
    <dd>{{server_info.machine_id}}</dd>

    <dt class="d-Definitions__Term">ZeroTier address</dt>
    <dd>{{server_info.zerotier_address}}</dd>

    <dt class="d-Definitions__Term">Local time</dt>
    <dd>{{server_info.local_time}}</dd>
</dl>
