<h1 class="d-Title">Information</h1>

<dl class="d-Definitions">
    <dt class="d-Definitions__Term">Version</dt>
    <dd class="d-Definitions__Description">{{server_info.version}}</dd>

    <dt class="d-Definitions__Term">Update URL</dt>
    <dd class="d-Definitions__Description">{{server_info.update_url}}</dd>

    <dt class="d-Definitions__Term">Kiosk URL</dt>
    <dd class="d-Definitions__Description">{{server_info.kiosk_url}}</dd>

    <dt class="d-Definitions__Term">Machine ID</dt>
    <dd class="d-Definitions__Description">{{server_info.machine_id}}</dd>

    <dt class="d-Definitions__Term">ZeroTier address</dt>
    <dd class="d-Definitions__Description">{{server_info.zerotier_address}}</dd>

    <dt class="d-Definitions__Term">Local time</dt>
    <dd class="d-Definitions__Description"><time>{{server_info.local_time}}</time></dd>
</dl>
