<h1>Information</h1>
<dl>
    <dt>Version</dt>
    <dd>{{server_info.version}}</dd>

    <dt>Update URL</dt>
    <dd>{{server_info.update_url}}</dd>

    <dt>Machine ID</dt>
    <dd>{{server_info.machine_id}}</dd>

    <dt>ZeroTier address</dt>
    <dd>{{server_info.zerotier_address}}</dd>
</dl>
