<h1 class="d-Title">Network</h1>

<div class="d-Network__Refresh">
    <a href="/network" class="d-Button">Refresh</a>
</div>

<dl class="d-Definitions">
    {{#is_proxy_set}}
        <dt class="d-Definitions__Term">Proxy</dt>
        <dd class="d-Definitions__Description">{{proxy}}</dd>
    {{/is_proxy_set}}

    <dt class="d-Definitions__Term">Internet</dt>
    <dd class="d-Definitions__Description">
        {{#internet_connected}}
            <span class="d-Network__InternetConnected">
                Connected
            </span>
        {{/internet_connected}}

        {{^internet_connected}}
            <span class="d-Network__InternetNotConnected">
                Not connected
            </span>
        {{/internet_connected}}
    </dd>
</dl>

<section>
    <h2 class="d-Subtitle">Services</h2>

    {{#services}}
        <details class="d-Network__ServiceDetail">
            <summary>
                {{name}}

                <span class="d-Network__ServiceStrength">
                    {{strength}}
                </span>
            </summary>

            <div class="d-Network__Properties">
                <pre class="d-Preformatted">{{properties}}</pre>

                {{^connected}}
                    <form action="/network/{{id}}/connect" method="post" class="d-Network__Form">
                        <label for="passphrase" class="d-Network__Label">Passphrase</label>
                        <input type="text" class="d-Input d-Network__Input" id="passphrase" name="passphrase">

                        <label for="proxy" class="d-Network__Label">Proxy</label>
                        <input type="text" class="d-Input d-Network__Input" id="proxy" value="{{proxy}}" name="proxy" placeholder="192.168.1.10:8500">

                        <input type="submit" class="d-Button d-Network__Button" value="Connect">
                    </form>
                {{/connected}}

                {{#connected}}
                    <form action="/network/{{id}}/remove" method="post" class="d-Network__Form">
                        <input type="submit" class="d-Button d-Network__Button" value="Remove">
                    </form>
                {{/connected}}
            </div>
        </details>
    {{/services}}

    {{^services}}
          No services available.
    {{/services}}
</section>
