<h1 class="d-Title">Network</h1>

<div class="d-Network__Refresh">
    <a href="/network" class="d-Button">Refresh</a>
</div>

<dl class="d-Definitions">
    {{#has_proxy}}
        <dt class="d-Definitions__Term">Proxy</dt>
        <dd class="d-Definitions__Description">{{proxy}}</dd>
    {{/has_proxy}}

    <dt class="d-Definitions__Term">Internet</dt>
    <dd class="d-Definitions__Description">
        {{#internet_connected}}
            <span class="d-Network__InternetConnected">
                Connected
            </span>
        {{/internet_connected}}

        {{^internet_connected}}
            <span class="d-Network__InternetNotConnected">
                Not connected
            </span>
        {{/internet_connected}}
    </dd>
</dl>

<section>
    <h2 class="d-Subtitle">Services</h2>

    <ul class="d-NetworkList">
        {{#services}}
            <li class="d-NetworkList__Network">
                <div>
                   <div class="d-NetworkList__NetworkName" >{{name}}</div>
                   <div class="d-NetworkList__NetworkId">{{id}}</div>
                </div>
                <div class="d-NetworkList__Configure">
                    <a class="d-Button" href="/network/{{id}}">Configure</a>
                </div>
            </li>
        {{/services}}

        {{^services}}
              No services available.
        {{/services}}
    </ul>
</section>
