{{#service}}
    <h2>{{name}}</h2>
    <form action="/gui/network/{{id}}/connect" method="post">
        <input type="text" name="passphrase">
        <input type="submit" value="Connect">
    </form>
{{/service}}
