<h1 class="d-Title">Network</h1>

<div class="d-Network__Refresh">
    <a href="/network" class="d-Button">Refresh</a>
</div>

<dl class="d-Definitions">
    {{#has_proxy_infos}}
        <dt class="d-Definitions__Term">Proxy</dt>
        <dd class="d-Definitions__Description">
            {{#proxy_infos}}
                <div>{{line}}</div>
            {{/proxy_infos}}
        </dd>
    {{/has_proxy_infos}}

    <dt class="d-Definitions__Term">Internet</dt>
    <dd class="d-Definitions__Description">
        {{#internet_connected}}
            <span class="d-Network__InternetConnected">
                Connected
            </span>
        {{/internet_connected}}

        {{^internet_connected}}
            <span class="d-Network__InternetNotConnected">
                Not connected
            </span>
        {{/internet_connected}}
    </dd>
</dl>

<section>
    <h2 class="d-Subtitle">Services</h2>

    {{#services}}
        <details class="d-Network__ServiceDetail">
            <summary>
                {{name}}

                <span class="d-Network__ServiceStrength">
                    {{strength}}
                </span>
            </summary>

            <div class="d-Network__Properties">
                <pre class="d-Preformatted">{{properties}}</pre>

                {{^connected}}
                    <form action="/network/{{id}}/connect" method="post" class="d-Network__Form">
                        <div class="d-Network__Label">
                          <label for="{{id}}-passphrase">Passphrase</label>
                        </div>
                        <input type="text" class="d-Input d-Network__Input" id="{{id}}-passphrase" name="passphrase">

                        <details>
                          <summary>Advanced Settings</summary>

                          <div class="d-Network__AdvancedSettingsTitle">
                            <div class="d-Network__Label">
                              <label for="{{id}}-proxy">Proxy</label>
                            </div>
                            <input type="text" id="{{id}}-proxy" class="d-Input d-Network__Input" name="proxy" placeholder="http://user:password@host:port">
                            <p class="d-Network__Note">Note that proxy change requires a restart.</p>
                          </div>
                        </details>

                        <input type="submit" class="d-Button d-Network__Button" value="Connect">
                    </form>
                {{/connected}}

                {{#connected}}
                    <form action="/network/{{id}}/remove" method="post" class="d-Network__Form">
                        <input type="submit" class="d-Button d-Network__Button" value="Remove">
                    </form>

                    <details>
                        <summary>Advanced Settings</summary>

                        <div class="d-Network__Form">
                            <div class="d-Network__Label">
                              <label for="{{id}}-proxy">Proxy</label>
                            </div>

                            <div class="d-Network__ProxyForm">
                                <form action="/network/{{id}}/proxy/update" method="post" class="d-Network__ProxyUpdate">
                                    <input type="text" id="{{id}}-proxy" class="d-Input d-Network__Input" name="proxy" value="{{proxy}}" placeholder="http://user:password@host:port">
                                    <input type="submit" class="d-Button" value="Update">
                                </form>

                                {{#has_proxy}}
                                    <form action="/network/{{id}}/proxy/remove" method="post">
                                        <input type="submit" class="d-Button" value="Remove">
                                    </form>
                                {{/has_proxy}}
                            </div>

                            <p class="d-Network__Note">Note that proxy change requires a restart.</p>
                        </div>
                    </details>
                {{/connected}}
            </div>
        </details>
    {{/services}}

    {{^services}}
          No services available.
    {{/services}}
</section>
