<h1 class="d-Title">
    System Statu<a class="d-HiddenLink" href="/label">s</a>
</h1>

<h2 class="d-Subtitle">
    Health
</h2>

<pre class="d-Preformatted">{{health}}</pre>

<h2 class="d-Subtitle">
    Update State
</h2>

<pre class="d-Preformatted">{{update}}</pre>

<h2 class="d-Subtitle">
    RAUC
</h2>

<pre class="d-Preformatted">{{rauc}}</pre>


<h2 class="d-Subtitle">
    Interfaces
</h2>

<pre class="d-Preformatted">{{interfaces}}</pre>
