<h1>System Statu<a class="d-HiddenLink" href="/label">s</a></h1>
<h2>Health</h2>
<pre>
    {{health}}
</pre>

<h2>Update State</h2>
<pre>
    {{update}}
</pre>

<h2>RAUC</h2>
<pre>
    {{rauc}}
</pre>


<h2>Interfaces</h2>
<pre>
    {{interfaces}}
</pre>
