name: Release Tag

on:
  push:
    tags:
      - "*"
  workflow_dispatch:
    inputs:
      uploadDiskOnly:
        description: |
          If enabled, will only re-build and re-upload the release disk, without
          creating a new release. Uses the version of PlayOS defined in
          application.nix, without verifying that it matches the git tag.
        type: boolean
        default: false


permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Make more space available on the runner
        run: |
          sudo rm -rf /usr/share/dotnet \
                      /usr/local/lib/android \
                      /opt/ghc \
                      /opt/hostedtoolcache/CodeQL


      - name: Ensure KVM is usable by nix-build
        run: sudo chmod a+rwx /dev/kvm
        shell: bash
      - uses: cachix/install-nix-action@v18
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            system-features = nixos-test benchmark big-parallel kvm
      - uses: DeterminateSystems/magic-nix-cache-action@v8

      - name: Make magic-nix-cache read-only by removing post-build-hook
        run: sed -i '/post-build-hook = magic-nix-cache-build-hook/d' $HOME/.config/nix/nix.conf

      - name: Get version from application.nix
        run: |
          PLAYOS_VERSION="$(nix eval --raw -f application.nix 'version')"

          echo "PLAYOS_VERSION=$PLAYOS_VERSION" >> $GITHUB_ENV


      - name: Validate tag
        if: ${{ inputs.uploadDiskOnly != true }}
        run: |
          if [ "$PLAYOS_VERSION" != "$GITHUB_REF_NAME" ]; then
            echo "Git tag ($GITHUB_REF_NAME) does not match version in application.nix ($PLAYOS_VERSION), aborting!"
            exit 1
          fi

      - name: Build release disk
        run: ./build release-disk

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id:  ${{ secrets.TEST_DISKS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.TEST_DISKS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Publish to S3
        run: ./.github/workflows/upload-test-disk.sh "$PLAYOS_VERSION"

      - name: Create Release summary
        if: ${{ inputs.uploadDiskOnly != true }}
        run: ./.github/workflows/gen-release-summary.sh "$PLAYOS_VERSION" > ./release-notes.md

      - name: Create Release
        if: ${{ inputs.uploadDiskOnly != true }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          extra_args=""
          if [[ "$PLAYOS_VERSION" == *VALIDATION ]]; then
            extra_args="--prerelease"
          elif [[ "$PLAYOS_VERSION" == *TEST ]]; then
            extra_args="--draft"
          fi

          gh release create --verify-tag \
            -F ./release-notes.md \
            $extra_args \
            "$PLAYOS_VERSION"
